<a href="https://colab.research.google.com/github/NicoPatalagua/BigData/blob/master/EjerciciosPares.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://apache.osuosl.org/spark/spark-2.4.5/spark-2.4.5-bin-hadoop2.7.tgz
!tar xf spark-2.4.5-bin-hadoop2.7.tgz
!pip install -q findspark
!pip install pyspark
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.5-bin-hadoop2.7"

from google.colab import drive
drive.mount('/content/gdrive')
from pyspark import SparkConf, SparkContext
conf = SparkConf().setAppName("app")
sc = SparkContext.getOrCreate();

Requirement already satisfied: pyspark in /usr/local/lib/python3.6/dist-packages (2.4.5)
Requirement already satisfied: py4j==0.10.7 in /usr/local/lib/python3.6/dist-packages (from pyspark) (0.10.7)
Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [0]:
!wget https://bigdata20192.s3.amazonaws.com/uk-housing-prices-paid.zip

--2020-04-03 01:35:51--  https://bigdata20192.s3.amazonaws.com/uk-housing-prices-paid.zip
Resolving bigdata20192.s3.amazonaws.com (bigdata20192.s3.amazonaws.com)... 52.216.243.172
Connecting to bigdata20192.s3.amazonaws.com (bigdata20192.s3.amazonaws.com)|52.216.243.172|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 796204510 (759M) [application/zip]
Saving to: ‘uk-housing-prices-paid.zip.2’

uk-housing-prices-p 100%[===================>] 759.32M  16.5MB/s    in 48s

2020-04-03 01:36:40 (15.8 MB/s) - ‘uk-housing-prices-paid.zip.2’ saved [796204510/796204510]

In [0]:
!unzip uk-housing-prices-paid.zip

Archive:  uk-housing-prices-paid.zip
replace price_paid_records.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: price_paid_records.csv

In [0]:
"""
path = "s3://archivobigda/archivo/price_paid_records.csv"
data = spark.read.csv(path)
data.take(20)

path = "price_paid_records.csv"
data = spark.sparkContext.textFile(path)
data.take(
"""
path= "price_paid_records.csv"
ObjDt= sc.textFile(path)
ObjDt.take(20)

['Transaction unique identifier,Price,Date of Transfer,Property Type,Old/New,Duration,Town/City,District,County,PPDCategory Type,Record Status - monthly file only',
 '{81B82214-7FBC-4129-9F6B-4956B4A663AD},25000,1995-08-18 00:00,T,N,F,OLDHAM,OLDHAM,GREATER MANCHESTER,A,A',
 '{8046EC72-1466-42D6-A753-4956BF7CD8A2},42500,1995-08-09 00:00,S,N,F,GRAYS,THURROCK,THURROCK,A,A',
 '{278D581A-5BF3-4FCE-AF62-4956D87691E6},45000,1995-06-30 00:00,T,N,F,HIGHBRIDGE,SEDGEMOOR,SOMERSET,A,A',
 '{1D861C06-A416-4865-973C-4956DB12CD12},43150,1995-11-24 00:00,T,N,F,BEDFORD,NORTH BEDFORDSHIRE,BEDFORDSHIRE,A,A',
 '{DD8645FD-A815-43A6-A7BA-4956E58F1874},18899,1995-06-23 00:00,S,N,F,WAKEFIELD,LEEDS,WEST YORKSHIRE,A,A',
 '{895E4E63-203F-476A-9AA9-42389DD0AE5C},81750,1995-05-19 00:00,S,N,F,SALISBURY,SALISBURY,WILTSHIRE,A,A',
 '{FB195C27-E790-45FD-847A-4238BC94546A},56000,1995-03-10 00:00,S,N,F,WITNEY,WEST OXFORDSHIRE,OXFORDSHIRE,A,A',
 '{1D6B01EC-DC33-4147-8A21-4238BEB2D4C1},31000,1995-03-02 00:00,S,N,F,ST. AUSTELL,RESTORMEL,CORNWALL,A,A',
 '{B8D0F817-4553-448D-A2C1-4238BF81C6FA},82000,1995-06-16 00:00,S,N,F,GREENFORD,EALING,GREATER LONDON,A,A',
 '{6DD27423-CC39-4B31-A848-4238D58268D4},10000,1995-05-17 00:00,T,N,F,FERNDALE,RHONDDA,MID GLAMORGAN,A,A',
 '{26D2C1C8-A3E3-41CE-BC2B-45C866A5AA8B},105000,1995-05-26 00:00,S,N,L,LYTHAM ST. ANNES,FYLDE,LANCASHIRE,A,A',
 '{0B76F591-3A20-45C3-9866-3EA912F24661},59995,1995-01-20 00:00,D,N,F,BELPER,AMBER VALLEY,DERBYSHIRE,A,A',
 '{E8615B54-3171-4C96-ABFF-3EA9203EBF84},31500,1995-02-28 00:00,T,N,F,BRIDGWATER,SEDGEMOOR,SOMERSET,A,A',
 '{09268CEC-8551-4E3A-AED4-3EA9259D3470},37500,1995-12-08 00:00,T,N,F,WIRRAL,WIRRAL,MERSEYSIDE,A,A',
 '{DA56CFC9-DE18-4A77-9230-3EA92F12B798},41000,1995-04-24 00:00,T,N,F,BIDEFORD,TORRIDGE,DEVON,A,A',
 '{6F40F213-A5F8-497B-92FE-3B1849135192},82750,1995-05-02 00:00,S,N,F,FARNBOROUGH,HART,HAMPSHIRE,A,A',
 '{9AE61270-4481-4152-841B-4956EDE13AC6},34000,1995-07-31 00:00,S,N,L,SHEFFIELD,SHEFFIELD,SOUTH YORKSHIRE,A,A',
 '{DECB21B3-BCF5-4931-B9C6-45C880BAF99C},40000,1995-12-01 00:00,S,N,F,MIDDLESBROUGH,MIDDLESBROUGH,MIDDLESBROUGH,A,A',
 '{A64E6025-1BF6-4769-B080-45C8B9119ED8},55000,1995-03-31 00:00,S,N,F,SWINDON,THAMESDOWN,THAMESDOWN,A,A']

# 1. Número de casas vendidas por año

In [0]:
def map1():
  for i in sys.stdin:
    data= re.split(",",i)
    date= str(data[2]).split("-")
    if len(data)!= 0:
        print(date[0]+"\t"+"1")

In [0]:
def red1():
  cont = 0
  anterior = ""
  for x in sys.stdin:
    temp = x.split("\t")
    if temp[0]!= "Date of Transfer":
        if(temp[0] == anterior):
            cont = cont+int(temp[1])
            anterior = temp[0]
        else:
            print(anterior+"\t"+str(cont))
            cont=0
            anterior = temp[0]
  print(anterior+"\t"+str(cont))

# 2.Precio promedio de las casas en cada ciudad

In [0]:
palabras = data.flatMap(lambda dat : dat.split("\n"))
palabra = palabras.first()
palabras = palabras.filter(lambda line: line != palabra)
palabras.take(10)

['{81B82214-7FBC-4129-9F6B-4956B4A663AD},25000,1995-08-18 00:00,T,N,F,OLDHAM,OLDHAM,GREATER MANCHESTER,A,A',
 '{8046EC72-1466-42D6-A753-4956BF7CD8A2},42500,1995-08-09 00:00,S,N,F,GRAYS,THURROCK,THURROCK,A,A',
 '{278D581A-5BF3-4FCE-AF62-4956D87691E6},45000,1995-06-30 00:00,T,N,F,HIGHBRIDGE,SEDGEMOOR,SOMERSET,A,A',
 '{1D861C06-A416-4865-973C-4956DB12CD12},43150,1995-11-24 00:00,T,N,F,BEDFORD,NORTH BEDFORDSHIRE,BEDFORDSHIRE,A,A',
 '{DD8645FD-A815-43A6-A7BA-4956E58F1874},18899,1995-06-23 00:00,S,N,F,WAKEFIELD,LEEDS,WEST YORKSHIRE,A,A',
 '{895E4E63-203F-476A-9AA9-42389DD0AE5C},81750,1995-05-19 00:00,S,N,F,SALISBURY,SALISBURY,WILTSHIRE,A,A',
 '{FB195C27-E790-45FD-847A-4238BC94546A},56000,1995-03-10 00:00,S,N,F,WITNEY,WEST OXFORDSHIRE,OXFORDSHIRE,A,A',
 '{1D6B01EC-DC33-4147-8A21-4238BEB2D4C1},31000,1995-03-02 00:00,S,N,F,ST. AUSTELL,RESTORMEL,CORNWALL,A,A',
 '{B8D0F817-4553-448D-A2C1-4238BF81C6FA},82000,1995-06-16 00:00,S,N,F,GREENFORD,EALING,GREATER LONDON,A,A',
 '{6DD27423-CC39-4B31-A848-4238D58268D4},10000,1995-05-17 00:00,T,N,F,FERNDALE,RHONDDA,MID GLAMORGAN,A,A']

In [0]:
def mape(x):
  ciudad = x.split(",")[6]
  precio = x.split(",")[1]
  return (ciudad, (float(precio),float(1)))
a = palabras.map(lambda x: mape(x)) 
a.take(5)

[('OLDHAM', (25000.0, 1.0)),
 ('GRAYS', (42500.0, 1.0)),
 ('HIGHBRIDGE', (45000.0, 1.0)),
 ('BEDFORD', (43150.0, 1.0)),
 ('WAKEFIELD', (18899.0, 1.0))]

In [0]:
a = a.reduceByKey(lambda i,j: i+j)
a.take(5)

In [0]:
def suma(y):
  if len(y)==2:
    return y
  else:
    h=0
    j=0
    for i in range(0,len(y),2):
      h+=y[i]
      j+=y[i+1]
    return (h,j)

asd = a.map(lambda a: (a[0],suma(a[1])))
asd.take(5)

[('BEXHILL-ON-SEA', (4377609266.0, 28054.0)),
 ('ROMSEY', (2858276190.0, 11527.0)),
 ('AYLESBURY', (12216686515.0, 59878.0)),
 ('GREAT YARMOUTH', (4913901501.0, 42749.0)),
 ('ROSSENDALE', (1760562005.0, 16262.0))]

In [0]:
def div(y):
  return y[0]/y[1]

asd = asd.map(lambda s: (s[0],div(s[1])))
asd.take(5)

[('BEXHILL-ON-SEA', 156042.2494474941),
 ('ROMSEY', 247963.5802897545),
 ('AYLESBURY', 204026.29538394735),
 ('GREAT YARMOUTH', 114947.75318720906),
 ('ROSSENDALE', 108262.32966424794)]

# 3. Casa con menor precio por ciudad.

In [0]:
def map3():
  for i in sys.stdin:
    data= re.split(",",i)
    if len(data)!= 0:
        print(data[6]+"\t"+data[1])

In [0]:
def red3():
  for x in sys.stdin:
    temp = x.split("\t")
    if dict.get(temp[0]) == None:
        dict[temp[0]] = temp[1]
    else:
        if dict.get(temp[0]) < int(temp[1]):
            dict.update({temp[0]: int(temp[1])})
  for x in dict:
    print(x +"\t" + str(dict[x]))

# 4. Listado de precios de menor a mayor en la ciudad de STAMFORD para 2015

In [0]:
def mapper4(x):
  ObjCity = x.split(",")[6]
  ObjPrice = x.split(",")[1]
  ObjDate = x.split(",")[2]
  ObjDate = ObjDate.split("-")
  return (Objcity, (float(ObjPrice),float(ObjDate[0])))
a4 = palabras.map(lambda x: mape4(x)) 
a4.take(5)

In [0]:
"""
 * prueba con pocos datos, hay cambiar != por == cuando sea con todos
"""
a41 = a4.filter(lambda line: line != 'STAMFORD')
a41.take(10)

In [0]:
a41 = a4.map(lambda g: g)
a41.take(5)

In [0]:
"""
 * prueba con pocos datos, hay cambiar != por == cuando sea con todos
"""
dat4 = a4.filter(lambda line: line != 2015)
dat4.take(10)

In [0]:
sor = dat4.sortByKey()
sor.take(10)

# 5. Mes con mayor número de ventas en cada año

#### 6. Conteo de condados  con el respectivo número de ciudades: