<a href="https://colab.research.google.com/github/NicoPatalagua/BigData/blob/master/windows.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from pyspark.sql import SparkSession

In [0]:
spark =  SparkSession.builder.appName("test").getOrCreate()

In [0]:
df = spark.read.csv("EC.csv", header=True, inferSchema=True)
df.printSchema()

root
 |-- Date: timestamp (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Adj Close: double (nullable = true)
 |-- Volume: integer (nullable = true)

In [0]:
from pyspark.sql.window import Window
from pyspark.sql import functions as f

In [0]:
w = Window.orderBy('Date')

In [0]:
df2 = df.select("Close", f.lag('Close').over(w).alias("ClosePrev"))
df2 = df2.select("Close", "ClosePrev", df2.Close - df2.ClosePrev)

In [0]:
df2.show()

+---------+---------+--------------------+
|    Close|ClosePrev| (Close - ClosePrev)|
+---------+---------+--------------------+
|21.879999|     null|                null|
|    21.84|21.879999|-0.03999900000000167|
|    21.83|    21.84|-0.01000000000000...|
|     21.4|    21.83| -0.4299999999999997|
|    21.58|     21.4| 0.17999999999999972|
|21.969999|    21.58|  0.3899990000000031|
|21.610001|21.969999|-0.35999800000000093|
|21.860001|21.610001|                0.25|
|    21.32|21.860001| -0.5400010000000002|
|     21.0|    21.32| -0.3200000000000003|
|20.559999|     21.0|-0.44000099999999875|
|20.639999|20.559999|  0.0799999999999983|
|    20.32|20.639999|-0.31999899999999926|
|     19.9|    20.32| -0.4200000000000017|
|20.809999|     19.9|  0.9099990000000027|
|    19.42|20.809999| -1.3899989999999995|
|18.870001|    19.42| -0.5499990000000032|
|18.889999|18.870001| 0.01999800000000107|
|    18.58|18.889999|-0.30999900000000125|
|    18.51|    18.58|-0.06999999999999673|
+---------+---------+--------------------+
only showing top 20 rows